.bg-cabecera {
    background-color: #dc3545;
}

.encierreCaja {
    background-color: #444;
    color: white;
    padding: 5px;
}

.seleccionCaja {
    background-color: #1c8a00;
    color: white;
}

.si,
.no {
    cursor: pointer;
}

.correcto {
    color: #ffffff;
    background-color: #8FB435 !important;
    -webkit-print-color-adjust: exact;
}

.incorrecto {
    color: #ffffff;
    background-color: #E76E80 !important;
    -webkit-print-color-adjust: exact;
}

.img-compara {
    mix-blend-mode: multiply;
}

.drag {
    padding: 2px;
    border: 1px #444 solid;
    border-radius: 3px;
    display: inline;
    cursor: pointer;
    margin: 3px;
    width: 25%;
}

.ancho1 {
    min-width: 120px;
    max-width: 120px;
}

.destinos {
    align-content: center;
}

.caja1 {
    max-width: 160px;
    min-width: 160px;
    padding: 2px;
    border: 1px #444 solid;
    border-radius: 3px;
    text-align: center;
    display: inline;
}

.txtDestino {
    padding: 2px;
    border: 1px #aaa solid;
    border-bottom: none;
}

.drag1,
.drag2 {
    cursor: move;
}

.qcolor {
    background-color: #ffffff;
}

.desaparece {
    text-align: center;
    background-color: #ffffff;
    border: 1px #20c997 dashed;
    border-radius: 5px;
    margin: 0 8px;
}

.caja4 {
    /*width: 145px;*/
    height: 40px;
    padding: 5px;
    border: 1px solid #aaaaaa;
    display: inline-block;
}

.opts0,
.opts1 {
    font-size: 1.2em;
}

.txtreemplaza {
    color: #dc3545;
    font-weight: bolder;
}