.bg-cabecera {
    background-color: orange;
}

.pintar2 {
    /*padding: 5px;*/
}

div:empty::before {
    color: grey;
    font-size: 20px;
}

div[data-placeholder]:not([data-placeholder=""]):empty::before {
    content: attr(data-placeholder);
}

.caja2 {
    width: 145px;
    height: 50px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    display: inline-block;
}

.caja4 {
    /*width: 145px;*/
    height: 100px;
    padding: 5px;
    border: 1px solid #aaaaaa;
    display: inline-block;
}

.imaf2 {
    width: 120px;
    height: 35px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

.encierreCaja {
    /*border: 2px solid #6c757d;*/
    /*border-radius: 10%;*/
    background-color: #444;
    color: white;
    padding: 4px;
}

.seleccionCaja {
    background-color: #1c8a00;
    color: white;
}



.subrayar {
    border-bottom: solid 5px #00a9ab;
}

.drag1,
.drag2 {
    cursor: move;
}

.correcto {
    color: #ffffff;
    background-color: #8FB435 !important;
    -webkit-print-color-adjust: exact;
}

.incorrecto {
    color: #ffffff;
    background-color: #E76E80 !important;
    -webkit-print-color-adjust: exact;
}

.correctoar {
    background-color: teal !important;
    -webkit-print-color-adjust: exact;
    color: white;
}

.incorrectoar {
    background-color: #dc3545 !important;
    -webkit-print-color-adjust: exact;
    color: white;
}

.backnoabierta {
    background-color: #00e600 !important;
    -webkit-print-color-adjust: exact;
}

.qcolor {
    background-color: #ffffff;
}

.desaparece {
    text-align: center;
    background-color: #ffffff;
    border: 1px #20c997 dashed;
    border-radius: 15px
}

.cajaClic {
    /*padding: 6px;*/
    border: 1px #f2f2f2 solid;
    margin: 4px;
}

.scaja {
    box-shadow: 0px 0px 3px #f2f2f2
}

.bordtable {
    box-shadow: 3px 3px 5px #dfd9ec
}

.hiddenRow {
    padding: 0 !important;
}

.sfont {
    font-size: 13px;
    text-align: center;
    cursor: pointer;
}

.desaparece {
    text-align: center;
    background-color: #ffffff;
    border: 1px #20c997 dashed;
    border-radius: 15px;
}

.boxultimo {
    box-shadow: 1px 1px 5px #f2f2f2;
    /*border: 1px #f2f2f2 solid;*/
}

.box22 {
    box-shadow: 3px 3px 10px #17A2B8;
}

.tamañofont2 {
    text-align: center;
    font-size: 15px;
    color: #17A2B8
}

.cajtabla {
    box-shadow: 0px 0px 5px #98BF61;
    border-radius: 10px 0px 10px 0px;
    background-color: #007bff
}

.bordefinal {
    /*border: 1px solid #20C997;*/
    margin: 5px;
    border-radius: 67px 58px 58px 58px;
    -moz-border-radius: 67px 58px 58px 58px;
    -webkit-border-radius: 67px 58px 58px 58px;
    padding: 2px;
}